# Ignore Python bytecode files
__pycache__/
*.py[cod]
*.pyo

# Ignore virtual environment
venv/

# AWS-related directories or temporary files
aws/
*.zip

# Logs and temporary files
*.log
*.tmp
*.swp


# IDE/editor-specific files
.vscode/
.idea/

# Static and upload directories if dynamically generated
static/uploads/
uploads/

# Backups
*.bak
*.backup
